<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Politique de confidentialité - <%= @account.name %></title>
  <%= stylesheet_link_tag "documents/privacy_policy", media: "all" %>
</head>
<body>
  <%= render "documents/privacy_policy/sections/header", account: @account %>

  <%= render "documents/privacy_policy/sections/controller_identity", account: @account %>

  <%= render "documents/privacy_policy/sections/processing_overview", account: @account %>

  <% if @sections.include?(:hr_administration) %>
    <%= render "documents/privacy_policy/sections/hr_administration", account: @account %>
  <% end %>

  <% if @sections.include?(:email_management) %>
    <%= render "documents/privacy_policy/sections/email_management", account: @account %>
  <% end %>

  <% if @sections.include?(:telephony) %>
    <%= render "documents/privacy_policy/sections/telephony", account: @account %>
  <% end %>

  <%= render "documents/privacy_policy/sections/data_subject_rights", account: @account %>
</body>
</html>
